html {
  background-color: slateblue;
}

body {
  text-align: center;
  margin: auto;
  font-family: monospace;
  padding: 50px;
}

#truthbtn {
  width: 200px;
  height: 50px;
  color: firebrick;
  font-size: xx-large;
  font-weight: bolder;
  background-color: black;
}

#balltext {
  width: 200px;
  height: 25px;
}
